<h1>About Us</h1>
<p>Owari Otaku Club is an Anime/Cosplay/Video Game/Bring us your nerdoms! club out of Los Banos, California. It was founded by Anthony Lovato and his wife Lydia. Owari Cosplay Group meets every saturday at 7PM.</p>